include README.md
include setup.py
recursive-include sparkproxy *.py
recursive-include examples *.py
exclude tests/*
exclude examples/spark2c.key
exclude examples/custom_create_proxy.py
exclude examples/renew_proxy_for_account.py
exclude examples/www_*.py
exclude .gitignore
